
@{
    ViewBag.Title = "OverBooked";
}

<h2>Location not available for the selected date</h2>
<p>Please select another location or enter a different data</p>

<div>
    @Html.ActionLink("Back to Reservation Page", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}