@{
    ViewBag.Title = "About";
}

<section class="visit-tailor-area fix">
    <!--Right Contents  -->
    <div class="tailor-offers"></div>
    <!-- left Contents -->
    <div class="tailor-details">
        <h2>About our<br>tailor house</h2>
        <p class="pera-top">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
        <p class="pera-bottom">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Suspendisse varius enim in eros elementum tristique. Duis
            cursus, mi quis viverra ornare.
        </p>
        <a href="#" class="btn">More About Us</a>
    </div>
</section>
<!-- Visit Our Tailor End -->
@*<hgroup>
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>
    </hgroup>

    <div class="row-fluid">
        <div class="span12">
            <p>Use this area to provide additional information.</p>
        </div>
    </div>*@