@{
    ViewBag.Title = "About";
}

<section class="visit-tailor-area fix">
    <!--Right Contents  -->
    <div class="tailor-offers"></div>
    <!-- left Contents -->
    <div class="tailor-details">
        <h2>Commitment<br>to our customers</h2>
        <p class="pera-top">With over 50 years of combined experience, our seamstresses and tailors can assist you with all your needs...probably</p>
        <p class="pera-bottom">
            If you are a new user please register as a new user, you will receive an email verification and then you are set to Log-In. Once logged in register your Item under Customer Items, then make a reservation at one of three locations.
        </p>
        <a href="@Url.Action("Register", "Account")" class="btn">Register</a>
    </div>
</section>
<!-- Visit Our Tailor End -->
@*<hgroup>
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>
    </hgroup>

    <div class="row-fluid">
        <div class="span12">
            <p>Use this area to provide additional information.</p>
        </div>
    </div>*@