@{
    ViewBag.Title = "Home";
}

<main>
    <!--? slider Area Start-->
    <div class="slider-area  position-relative ">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider position-relative hero-overly slider-height  d-flex align-items-center" data-background="/Content/assets/img/hero/h1_hero.png">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <div class="hero-caption">
                                <img class="rotateme" src="~/Content/assets/img/hero/hero-icon.png" alt="" data-animation="zoomIn" data-delay="1s">
                                <h1 data-animation="fadeInLeft" data-delay=".4s">ZipNTuck</h1>
                                <p data-animation="fadeInLeft" data-delay=".6s">
                                    We can fix anything...almost anything
                                </p>
                                <!-- Hero Btn -->
                                <a href="@Url.Action("Register", "Account")" class="btn" data-animation="fadeInLeft" data-delay=".8s">Our Services</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Left img -->
                <div class="hero-img">
                    <img src="~/Content/assets/img/hero/h1_hero1.png" alt="" data-animation="fadeInRight" data-transition-duration="5s">
                </div>
            </div>
            <!-- Single Slider -->
            <div class="single-slider position-relative hero-overly slider-height  d-flex align-items-center" data-background="/Content/assets/img/hero/h1_hero.png">

                @*<div class="container">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="hero-caption">
                                <img class="rotateme" src="~/Content/assets/img/hero/hero-icon.png" alt="" data-animation="zoomIn" data-delay="1s">
                                <h1 data-animation="fadeInLeft" data-delay=".4s">We make cloths  that suit you</h1>
                                <p data-animation="fadeInLeft" data-delay=".6s">
                                    TLorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Suspendisse varius enim in eros elementum tristique. Duis
                                    cursus, mi quis viverra ornare.
                                </p>

                                
                                <a href="#" class="btn" data-animation="fadeInLeft" data-delay=".8s">Our Services</a>
                            </div>
                        </div>
                    </div>
                </div>*@

                <!-- Left img -->
                <div class="hero-img">
                    <img src="~/Content/assets/img/hero/h1_hero1.png" alt="" data-animation="fadeInRight" data-transition-duration="5s">
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->
    <!--Clients Offers Start -->
    <!--Links set up to go to Register page, can be modified for service page-->
    <div class="clients-area section-padding40">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-offers mb-50 wow fadeInUp" data-wow-delay=".2s">
                        <div class="offers-img">
                            <img src="~/Content/assets/img/gallery/offers1.png" alt="">
                        </div>
                        <div class="offers-cap">
                            <span>1</span>
                            <h3><a href="@Url.Action("Register", "Account")">Clothing Repair</a></h3>
                            <p>If you you ripped it we can fix it.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-offers mb-50 wow fadeInUp" data-wow-delay=".4s">
                        <div class="offers-img">
                            <img src="~/Content/assets/img/gallery/offers2.png" alt="">
                        </div>
                        <div class="offers-cap">
                            <span>2</span>
                            <h3><a href="@Url.Action("Register", "Account")">Alterations</a></h3>
                            <p>We can alter those hems and resize most garments.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-offers mb-50 wow fadeInUp" data-wow-delay=".6s">
                        <div class="offers-img">
                            <img src="~/Content/assets/img/gallery/offers3.png" alt="">
                        </div>
                        <div class="offers-cap">
                            <span>3</span>
                            <h3><a href="@Url.Action("Register", "Account")">Custom Tailoring</a></h3>
                            <p>Why fix it when we can make you a new one.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Clients Offers End -->

    <!--? Services Area Start -->
    <section class="categories-area section-padding40">
        <div class="container">
            <!-- section Tittle -->
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-6 col-md-7 col-sm-9">
                    <div class="section-tittle text-center mb-60">
                        <h2>Other Services</h2>
                        <p>If you need something repaired and you don't see it listed just contact us.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="cat-icon">
                            <img src="~/Content/assets/img/icon/services1.svg" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>Patch Work</h5>
                            <p>Worn leather jacket, jeans wearing thing, we can patch that.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="cat-icon">
                            <img src="~/Content/assets/img/icon/services2.svg" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>Embroidery</h5>
                            <p>We can make you look fancy.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="cat-icon">
                            <img src="~/Content/assets/img/icon/services3.svg" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>Restyling</h5>
                            <p>Want to turn that turtle neck into a tank top, we got you covered.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="cat-icon">
                            <img src="~/Content/assets/img/icon/services4.svg" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>Zipper Repair</h5>
                            <p>From jackets to boots we can repair or replace that zipper.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--? Services Area End -->
   
</main>




